<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>

  <style>
    html,
body {
    height: 350mm;
    width: 210mm;
  padding: 15px;
  margin: 0 auto;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
padding: 15px;
height: 320mm;
}
h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}
.invdata{
    margin-top: 50px;
    display: flex;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
th {
    border-bottom: 1px solid black;
    padding: 15px;
}
td {
    padding: 15px;
}
  </style>

</head>
<body>
    <img src="https://digicod.eu/media/logo.svg" alt="DIGICOD" width="150">
  <div class="main">
      <h2>Invoice</h2>
      <div class="email"><span>coxah@web.de</span></div>
      <div class="firs_name"><span></span></div>
      <div class="last_name"><span></span></div>
      <div class="invdata">
        <div>
            <div><b>Invoice number:</b></div>
            <div><b>Order date time:</b></div>
            <div><b>Order number:</b></div> 
        </div>
        <div style="margin-left: 20px;">
            <div>DC-123456789</div>
            <div>29.05.2022 14:00</div>
            <div>856247</div> 
        </div>
      </div>
      <table style="margin-top: 70px;">
        <tbody></tbody>
            <tr>
                <th>QTY</th>
                <th>Product</th>
                <th>Price</th>
                <th>VAT</th>
                <th>VAT %</th>
                <th>Total</th>
            </tr>
        
            <tr>
                <td>1</td>
                <td>Bitsa 10 EUR</td>
                <td>€12.3</td>
                <td>€0</td>
                <td>0%</td>
                <td style="text-align: right;" >€12.3</td>
            </tr>
            <tr>
                <td style="text-align: right; border-top: 1px solid black;" colspan="6"><b>Total</b> €12.30</td>
            </tr>
        </tbody>
      </table>
      <p style="margin-top: 50px;">
        <b>Code</b><br>
        The codes of your purchases will be emailed to this
        address: <b>wrmorales52@gmail.com</b>
      </p>
      <p>
        <b>Support</b><br>
        For problems with purchased goods please contact our support team via mail at <b>support@digicod.eu</b>
      </p>
      <h3>Thank you for choosing digicod.eu.</h3>
  </div>
  
  <p style="width: 100%; border-top:1px solid black; text-align:center;"><small><b>DIGIDAG LTD - 6 Market Place, Unit 5001, 2nd Floor, London, England, W1W 8AF</b></small><br> <small><b>info@digicod.eu</b></small></p>

</body>
</html>